@viewport {
    width: devide-width;
    user-scalable: no;
}

.color1 {
    background-color: #1c516c;
    color: #fff9ba;
}

.color1.light {
    background-color: #26607d;
}

.color2 {
    background-color: #fff7ec;
}
.color2.light {
    background-color: #fff8f8;
}

body {
    margin:  0;
    padding: 0;
    overflow-x: hidden;
    background-color: #fff8f8;
    color: #262626;
}

footer {
    z-index: 99;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 92%;
    margin: 0 auto 0 auto;
    padding: 1.5pt 4% 0 4%;
    font-family: monospace;
}

footer a {
    display: block;
    text-align:center;
    font-size: 0.75rem;
    margin: 0.2rem auto 0 auto;
    padding: 0.25rem 0 0.2rem 0;
    text-decoration: none;
    height: 1em;
    overflow: hidden;
}

h1 {
    font-family: STXiHei, "华文细黑",
                 "Microsoft YaHei", "微软雅黑", 
                 Helvetica, sans-serif;
    left: 0; 
    top:  0;
    margin:  0    auto 0 auto;
    padding: 1rem 0    0.6rem 12%;
    font-size: 2rem;
    font-weight: normal;
    display: block;
}

h1>a, h1>a:hover, h1>a:visited {
    color: inherit;
    text-decoration: inherit;
}

h3 {
    font-family: Helvetica, STXiHei, "华文细黑", 
                 "Microsoft Yahei", "微软雅黑", 
                 Georgia, serif;
    font-weight: normal;
    font-size: 1.3rem;
    display: block;
}

hr {
    width: 97%;
    margin: 0.7rem auto 0.7rem auto;
}

#content_wrapper {
    margin: 0 0 1.3rem 0;
}

article {
    position: relative;
    width: 77%;
    margin: 0 auto 0 auto;
    padding: 0.8rem 2% 0.8rem 2%;
    border-style: none solid none solid;
    border-width: 4pt;
    border-color: #26607d;
}
.horz li{
    display: inline-block;
    margin: auto 0.8rem auto 0.8rem;
}
ul li {
    display: block;
}
li a {
    position: relative;
    text-decoration: none;
    transition: color 0.3s, left 0.3s;
    color: #90bbf6;
    left: 0pt;
    bottom: 0pt;
}
li a:visited{
    color: #90bbf6;
}
li a:hover {
    color: #2aa198;
}
li.special {
    margin: 0.5rem auto 0.5rem auto;
}


/* style override for mobile/portriat device */
@media all and (max-width: 120ch) {
    article {
        width: 94%;
        padding: 0.5rem 3% 0.8rem 3%;
        border-width: 0;
    }
    h1 {
        padding: 0.5rem 0 0.3rem 4%;
    }
}
